$primary: #2F67D5;
$light-primary: #3C7CF8;
$dark-primary: #194EB6;
$extralight-primary: #D8DEE9;

$secondary-light-primary: rgba(60, 124, 248, 0.1);
$secondary-dark-primary: rgba(25, 78, 182, 0.2);

$warn: #DA1B1B;
