@import "../../../../styles/constants";

.container {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 20px;
    overflow: hidden;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

.actions {
    padding: 0 15px;
    display: flex;
    gap: 15px;
}

.table-container {
    overflow-y: auto;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

th {
    font-size: 12px;
    font-weight: 500;
    color: $primary;
}

td {
    font-size: 14px;
    font-weight: 400;
}


tr {
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    &:hover {
        td {
            color: $light-primary;
        }
    }
}

th, td {
    padding: 15px 25px;
}

.table__item {
    cursor: pointer;

    &:hover {
        background-color: rgba(143, 175, 255, 0.08);
    }
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
