@import "../../../styles/constants";


.clients {
    &__title {
        color: $primary;
        font-weight: 500;
        font-size: 28px;
        padding: 0 15px;
        margin-bottom: 25px;
    }

}
